name: PR Checks

on:
  push:
    branches-ignore:
      - "main"

jobs:
  pr-checks:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v6
        with:
          node-version: 24
          registry-url: "https://registry.npmjs.org"
      - uses: pnpm/action-setup@v4
        with:
          version: 10
      - run: npm ci
      - run: npm run lint:ci
      - run: npm run test
      - run: npm run build
